/*Start Global Styles*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color:#6b24ed;
    --secondery-color:#0d081a;
    --gray-color:#48464b;
    --body-color:#efebfa
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
body{
    background-color: var(--body-color);
    height: 3000px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list-unstyled{
    list-style: none;
    padding: 0;
    margin: 0;
}
.special-heading{
    font-size: clamp(2rem,10vw,8rem);
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    letter-spacing: 0.3rem;
}
.special-heading::before{
    content: attr(data-text);
    position: absolute;
    top: -20%;
    left: 2%;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1.5px #b7b4be2f;
    z-index: -1;
}
p{
    color: var(--secondery-color);
font-size: 1.6rem;
font-family: "Roboto Mono",sans-serif;
line-height: 1.6;
}
/*Medium Devices*/
@media only screen and (min-width:768px)
{
    .container{
        width: 720px;
    }
}

/*large Devices*/
@media only screen and (min-width:992px)
{
    .container{
        width: 960px;
    }
}
/*Extra large Devices*/
@media only screen and (min-width:1200px)
{
    .container{
        width: 1140px;
    }
}
/*End Global Styles*/

/*Start Hero Section*/
#hero{
padding: 60px 0;
}
#hero .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero .row .col:first-of-type{
    flex: 3;
}
#hero .row .col.hero-content .sub-heading{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color);
    opacity: 0;
    animation: fade 1.5s ease-in-out forwards;
}
#hero .row .col.hero-content .hero-heading{
    font-size: 4rem;
    margin-top: 0;
    font-family: "Poppins",sans-serif;
}
#hero .row .col.hero-content .hero-heading div{
    position: relative;
    display: inline-block;
    overflow: hidden;

}
#hero .row .col.hero-content .hero-heading span{
    position: relative;
    bottom: -70px;
    animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:0;
    }
}
@keyframes fade{
    100%{
        opacity: 1;
    }
}

#hero .row .col.hero-content p{
opacity: 0;
animation: fade 1.5s ease-in-out forwards;
animation-delay: .5s;

}
#hero .row .col.hero-content .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    opacity: 0;
animation: fade 1.5s ease-in-out forwards;
animation-delay: .5s;
}
#hero .row .col.hero-content .icons a{
    padding: 10px 30px;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-family: "Poppins",sans-serif;
}
#hero .row .col.hero-content .icons svg{
    width: 30px;
    height: 30px;
    color: var(--main-color);
}


#hero .row .col:last-of-type{

    flex: 6;
    text-align: center;

}
#hero .row .col:last-of-type img{
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 20px;
}


@media only screen and (max-width:768px)
{
    #hero .row{
        flex-direction: column-reverse;
    }
    #hero .row .col.hero-content{
        max-width: 300px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero .row .col.hero-content .hero-heading{
        text-align: center;
    }

}


/*End Hero Section*/

/*Start Services*/
#services .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


#services .row svg{
    width: 50px;
    height: 50px;
}
#services .row h3{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;

}
#services .row p{

color: var(--gray-color);
max-width: 100%;
line-height: 2.2rem;
font-size: 1.5rem;
}
#services .row .content {
    padding: 10px 20px; 

    border-radius: 15px;
    transition: .5s;
}
#services .row .content:first-of-type:hover{
    background-color: rgb(8 69 241 / 35%);

}

#services .row .content:nth-of-type(2):hover{
    background-color: rgba(0, 255, 115, 0.151);

}
#services .row .content:nth-of-type(3):hover{
    background-color: #cbbef093;

}
#services .row .content svg{
    padding: 10px;
    border-radius: 50%;
}
#services .row .content:first-of-type svg{
    background-color: rgb(8 69 241 / 35%);

}

#services .row .content:nth-of-type(2) svg {
    background-color: rgba(0, 255, 115, 0.151);

}
#services .row .content:nth-of-type(3) svg{
    background-color: #cbbef093;

}
@media only screen and (max-width:768px)
{
    #services .row{
        flex-direction: column;
    }
    #services .row .content{
        text-align: center;
        margin: auto;
    }
    #services .row .content:first-of-type{
        background-color: rgb(8 69 241 / 35%);
    
    }
    
    #services .row .content:nth-of-type(2){
        background-color: rgba(0, 255, 115, 0.151);
    
    }
    #services .row .content:nth-of-type(3){
        background-color: #cbbef093;
    
    }

}
/*End services*/

/*Start testimonials*/
#testimonials .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}
#testimonials .row .content{
    text-align: center;
    position: relative;
    padding: 0 20px;
    width: fit-content;
}
#testimonials .row .content img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#testimonials .row .content h3{
    font-size: 2.5rem;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
}
#testimonials .row .content .sub-heading{
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Popines";
    margin-bottom: 2rem;
}

#testimonials .row .content p{

    color: var(--gray-color);
    max-width: 90%;
    font-size: 1.6rem;
}

#testimonials .row .content svg{
    width: 20px;
    height: 20px;
    color: var(--main-color);
}
#testimonials .row .content:first-of-type,
#testimonials .row .content:nth-of-type(3){
    flex: 3;
    transform: scale(0.8) skew(2deg,9deg);


}
#testimonials .row .content:nth-of-type(2){
    flex: 4;
    transform: skew(350deg,354deg);
}

#testimonials .row .content::after
{
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 120%;
    display: block;
    box-shadow: 0px 0px 20px 0px #4705fc1f;
    z-index: -1;
}
#testimonials .row .content:first-of-type::after,
#testimonials .row .content:nth-of-type(3)::after{

    border-radius: 20px 50px 30px 60px;

}
#testimonials .row .content:nth-of-type(2)::after{

    border-radius: 40px 50px 30px 60px;
    height: 100%;
}
@media only screen and (max-width:991px){
    #testimonials .row{
        flex-direction: column;
        max-width: 400px;
        margin: 0.8rem auto;

    }

}
/*End testimonials*/

/*Start stats*/
#stats{
    padding: 60px 0;
}
#stats .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
#stats .row .content{
    padding: 2rem;
}
#stats .row .content:first-of-type{
    background-color: #f4edaa;
}
#stats .row .content:nth-of-type(2){
    background-color: #a1f2ce;
}
#stats .row .content:nth-of-type(3){
    background-color: #baa3fb;
}
#stats .row .content span{
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Poppins ',sans-serif;
}
#stats .row .content h3{
    font-size: 2rem;
}
#stats .row .content p{
    font-weight: 800;
}

@media only screen and (max-width:768px)
{
    #stats .row{
        flex-direction: column;
    }
}
/*End stats*/
/*Start About*/
#about{
    padding: 60px 0;
}
#about .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#about .row .col.left{
    flex: 2;
    position: relative;
    padding: 20px 25px;
    text-align: center;
}
#about .row .col.left img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:5rem 0;
    object-fit: cover;
}
#about .row .col.left h3{
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}
#about .row .col.left .sub-heading{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Roboto Mono",sans-serif;

}

#about .row .col.left::after{
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #4705fc1f;
    z-index: -1;
}


#about .row .col.right{
    flex: 5;
}
#about .row .col.right .sub-heading{
    color: var(--main-color);
    font-size: 1.8rem;
    font-family: "Popines",sans-serif;
    font-weight: bold;

}
#about .row .col.right h3{
    font-size: 3rem;
    margin-top: .8rem;
}
#about .row .col.right .icons{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
#about .row .col.right .icons a.primary{
    display: block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Roboto Mono",sans-serif;
}
#about .row .col.right .icons a:not(.primary){
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: var(--main-color);
    font-size: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-family: "Roboto Mono",sans-serif;


}

@media only screen and (max-width:768px)
{
    #about .row{
        flex-direction: column;
    }
    #about .row .col.right{
        margin-top: 40px;
    }
    #about .row .col.right{
        text-align: center;
    }
    #about .row .col.right .sub-heading{
        font-size: 1.5rem;
    }
    #about .row .col.right h3{
        font-size: 2rem;
        font-family: 'Roboto Mono';
    }

    #about .row .col .icons{
        flex-direction: column;
    }
}


/*End About*/
/*Start Projects*/
#projects{
    padding: 60px 0;
}

#projects  .col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem auto;
    max-width: 800px;
    position: relative;
}   
#projects .col:first-of-type .content{
    order: 2;
}
#projects .col:last-of-type .content{
    order: 2; 
}
#projects  .col .image{
    height: 500px;
    flex: 1;
    position: relative;
    z-index: -1;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 #0d081a;
}
#projects  .col .image img{
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;

}
#projects  .col .image::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1501ff3d;
    content: '';
}

#projects  .col .content{
    flex: 1;
    background-color: var(--body-color);
    box-shadow: 0 0 20px #00000028;
    position: relative;
    z-index: 1;
    padding: 2rem 3rem;
    border-radius: 20px;
    margin-left: -150px;
}

#projects .col:nth-of-type(2) .content{
    margin-left: 0;
   margin-right: -150px;
}
#projects  .col .content .sub-heading{
    font-size: 2rem;
    font-weight: bold;
}
#projects  .col .content h3{
    font-size: 1.9rem;
    font-family: 'Poppins',sans-serif;
}
#projects  .col .content .icons{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
#projects  .col .content .icons a.primary{
    display: block;
    padding: 10px 30px;
        background-color: var(--main-color);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Poppins';
}

#projects  .col .content .icons div {
  
    border: 1px solid var(--main-color);
    font-size: 1.6rem;
    color: var(--main-color);
    border-radius: 10px;
    padding: 10px 30px;
    position: relative;
    font-weight: bold;
}
#projects  .col .content .icons div  a{
    text-decoration: none;

}

#projects  .col .content .icons div svg{
    width: 20px;
    height: 20px;
}
#projects  .col .content .icons div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#projects  .col:hover img{
    transform: scale(1.1);
} 
@media only screen and (max-width:768px)
{
    #projects  .col {
        flex-direction: column;
    }
    #projects .col .image{
        width: 100%;
    }

    #projects .col .content{
        margin-top: -150px;
        margin-left: 0;
        width: 90%;
    }
    #projects .col:nth-of-type(2){
        flex-direction: column-reverse;
    }
    #projects .col:nth-of-type(2) .content{
        margin-right: 0;
    }
    #projects .col .content .icons{
        flex-direction: column;
    }
}

/*End Projects*/

/*Start Footer*/
#footer{
    padding: 60px 0;
    background-color: #34058b;
}
#footer .row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#footer .row .col{
    flex: 1;
    color: #fff;
}
#footer .row .col:first-of-type{
    flex: 3;
}

#footer .row .col:nth-of-type(2),
#footer .row .col:nth-of-type(2){
   
    flex: 2;
}
#footer .row .col:last-of-type{
    flex: 1;
}
#footer .row .col img{
    width: 100px;
    display: block;
}
#footer .row .col p{
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;


}
#footer .row .col h2{
    font-size: 3rem;
    text-transform: uppercase;
}

#footer .row .col ul{
    display: flex;
    flex-direction: column;
}

#footer .row .col ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    width: 100%;
    display: block;
    padding: .5rem;
    transition: .3s;
}
#footer .row .col a:hover{
    background-color: #fff;
    color: #333 !important;
    border-radius: 4px;

}

#footer .row .col:last-of-type ul{
    flex-direction: row;
    flex-wrap: wrap;
}
#footer .row .col:last-of-type ul li{
    flex-basis: 40%;
}
@media only screen and (max-width:768px)
{
    #footer .row{
        flex-direction: column;
    }
    #footer .row .col{
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    #footer .row .col img{
        margin: auto;
    }

}
footer{
    background-color: #221052;
    padding: 30px 0;
    color: #fff;
    font-size: 2rem;
}

/*End  Footer*/

